@model MyLibrary.Model.Post
@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Share/_LayoutSite.cshtml";
}

<div class="container">
   <div class="row">
       <div class=" col-12">
           <h1>
               @Model.Title
           </h1>
           <p class="content"> @Html.Raw(Model.Detail)</p>
       </div>

   </div>

</div>

