@model IEnumerable<MyLibrary.Model.Orderdetail>
<div class="container">
    <h1 class="text-center">SẢN PHẨM BÁN CHẠY</h1>
    <div class="row">
        @*@foreach (var oder in Model)
        {
            <div class="col">
                <div class="card" style="width: 100%;">
                    <img src="~/Public/images/sp2.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Túi Mặt quỷ</h5>
                        <p class="card-text">Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chửa bệnh vui lòng lưu ý.</p>
                        <a href="#" class="btn btn-primary">Chi Tiết</a>
                    </div>

                </div>

            </div>
        }*@
            <div class="col">
                <div class="card" style="width: 100%;">
                    <img src="~/Public/images/sp2.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Túi Mặt quỷ</h5>
                        <p class="card-text">Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chửa bệnh vui lòng lưu ý.</p>
                        <a href="#" class="btn btn-primary">Chi Tiết</a>
                    </div>

                </div>

            </div>

            <div class="col">
                <div class="card" style="width: 100%;">
                    <img src="~/Public/images/sp2.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Túi Mặt quỷ</h5>
                        <p class="card-text">Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chửa bệnh vui lòng lưu ý.</p>
                        <a href="#" class="btn btn-primary">Chi Tiết</a>
                    </div>

                </div>

            </div>

            <div class="col">
                <div class="card" style="width: 100%;">
                    <img src="~/Public/images/sp2.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Túi Mặt quỷ</h5>
                        <p class="card-text">Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chửa bệnh vui lòng lưu ý.</p>
                        <a href="#" class="btn btn-primary">Chi Tiết</a>
                    </div>

                </div>

            </div>

            <div class="col">
                <div class="card" style="width: 100%;">
                    <img src="~/Public/images/sp2.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Túi Mặt quỷ</h5>
                        <p class="card-text">Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chửa bệnh vui lòng lưu ý.</p>
                        <a href="#" class="btn btn-primary">Chi Tiết</a>
                    </div>

                </div>

            </div>

            <div class="col">
                <div class="card" style="width: 100%;">
                    <img src="~/Public/images/sp2.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Túi Mặt quỷ</h5>
                        <p class="card-text">Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chửa bệnh vui lòng lưu ý.</p>
                        <a href="#" class="btn btn-primary">Chi Tiết</a>
                    </div>

                </div>

            </div>




        </div>

</div>



